/*cor de fundo das paginas*/
body {
  background-color: #757474;
}

.barralogo {
  background-color: #474747;
  color: #fff;
  padding: 20px;
  text-align: center;
  height: 83px;
}
/*Barra cinza de fundo da logo */
.quadrologo {
  background-color: #474747;
  padding: 1px;
  margin-top: 0px;
  height: 120px;
  text-align: center;
}
.L1 {
  position: absolute;
  top: 0;
  right: 0;
}
/*Possisão da logo*/
.logocanto {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 18px;
}
/*Colocar algums Buttons no canto da tela*/
.btnCanto {
  position: absolute;
  top: 2.5%;
  left: 88%;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.btnCanto2 {
  position: absolute;
  top: 7%;
  left: 75%;
  font-size: 18px;
  display: flex;
  gap: 8px;
}
.btnCantologin { 
  position: absolute;
  top: 7%;
  left: 86.5%;
  font-size: 18px;
}
.espacobtn{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/*card do site*/
.card {
    background-color: #474747;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 350px;
    overflow: hidden;
}


/*Configuração da imagem dos cards*/
.card-img {
    width: 100%;
    height: auto;
    
}
/**/
.card-content {
    padding: 80px;
}
/*configuração do titulo do card*/
.card-title {
    font-size: 24px;
    margin-bottom: 16px;
    color: #FD914D;
    text-align: center;
}
/*Descrição do cards*/
.card-description {
    font-size: 16px;
    color:#FD914D;
    margin-bottom: 15px;
    font-weight: bold;
}

.card-description1, .card-description2, .card-description3 {
  font-size: 16px;
  color:#FD914D;
  margin-bottom: 15px;
  font-weight: bold;
}

.card input[type="number"] {
  width: 80%;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
}
/*Button do cards*/
.card-button {
    background-color:#555;
    color: #FD914D;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.6s ease;
    border-color: #050505;
  
}

/*cor de fundo dos Button*/
.card-button:hover {
    background-color: rgb(134, 236, 134);
}
/*Espasamento entre os cards*/
.Espasamento-Cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap; 
  max-width: 1200px;
}


/*centralizando os cards no centro da tela*/
.centralizacard{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3%;
}
.centralizabtnCard{
  display: flex;
  margin-left: 25%;
  color: #FD914D;
  margin-top: 15%;
}


/*usado para a loogo ter uma tamanho proporcional a tela*/
.logotam{
  width: auto;
    height: auto;
}
.barralogoResp{
  width: auto;
    height: auto;

}
/*deixa a barra de pesquisa centralizada junto com o button*/
.centarlizaPesqiusa{
  display: flex;
  justify-content: center;
  align-items: center; 
  max-width: 91.5%;
}

/*Barra de pesquisa*/
.search-container {
  max-width: 85px;
  margin: 2%;
  display: flex;
  text-decoration: none;
  transition: background-color 0.6s ease;
  }
  .search-container:hover {
    background-color: rgb(134, 236, 134);
    
}
.search-container input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  font-size: 85%;
  margin-right: 10px;
}
.search-container button {
  padding: 10px;
  border: 1px solid #050505;
  border-radius: 5%;
  color:#FD914D;
  background-color:#555; 
  font-size: 10px;
  cursor: pointer;
  font-size: 85%;
}
/*Configus de perfil tanta do usario quanto do feirante*/
/*colocando os btn no cento da pagina*/
.SelecionaPRD{
  display: flex;/*deixando o layout flexível*/
  margin-top: 4%;/*distancia de espasamento da margem da (.barralogo) ate o button */
  align-items: center;/*alinhando os button*/
  flex-direction: column;/* deixando os button no esquema de coluna*/

}
/*configurações de imagem para o usario*/
/*centralizando a imagem de perfil*/
.centPerfilclientes{
  display: flex;
  margin-left: 20%;
  margin-top: -18%;
}
.user-icon {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.user-icon img {
  width: 100%;
  height: 100%;
}
/*centralizando os input e os label de perfil*/
.centralizaPerfil{
 position:absolute;
 align-items: center;
 margin-left:30%;
 margin-left: 10%;
}
.centralizantndaBarracaJose{
  display: flex;
  margin-left: 42%;
  gap: 1%;
}


/**/

label{
  font-size: 16px; 
  margin-left:35%;
   
}
input {
  font-size: 15px;
}

/*input e label do login*/
label {
  font-size: 30px;
  margin-left: 38%;
  color: #FD914D;
}

input {
  border: 5px solid #FD914D; /* Cor da borda */
  border-radius: 25px; /* Valor de borda arredondada */
  padding: 5px 10px; /* Espaçamento interno */
  font-size: 14px; /* Tamanho da fonte */
  width: 300px; /* Largura do input */
  text-align: center; /* Centraliza o texto */
  background-color: #474747;
  color:rgb(65, 234, 65);
}
button{
  border-radius: 25px;
  border: 5px solid #FD914D;
  padding: 6px 12px;
  width: 150px;
  background-color: #474747;
  color: #FD914D;
  font-size: 18px;
  transition:  background-color 0.6s ease; 
  text-decoration: none;   
  cursor: pointer;
}
a{
  font-size: 19px;
  color: #FD914D;
}
button:hover {
  background-color: rgb(134, 236, 134);
  
}
.Stylelogin{
  font-size: 25px;
  margin-left: 33%;
  color: #FD914D;
}
.form-group {
  display: flex;
  flex-direction: column; /* Muda para 'row' para alinhamento horizontal */
  margin-top: 2%;
}
/*titulo do login*/
.login{
  font-size: 16px;
  margin-left: 33%;
  align-items: center;
}
/*configurações do nome da logo */
.Ourofeira{
  font-size: 16px;
  margin-left: 49%;
}

.quadradologin{
  position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background:#474747;
            padding: 80px;
            border-radius: 16px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.quadradotrocasenha{
  position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background:#474747;
            padding: 80px;
            border-radius: 16px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.quadradotelainicial{
  position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background:#474747;
            padding: 80px;
            border-radius: 16px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-top: 2%;

}
/*configurações do nome da logo */
.centeresqueciasenha{
  display: flex;
  margin-left: 31%;
  margin-top: 5%;
}
.centralizabtnInicial{
  text-align: center;
}
.loginESQUECIASEN{
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}


/*configurações da tela de cadrasto das pesoas comun*/
/*configurações do titulo no centro da tela */
.StyleCadrastar{
  font-size: 25px;
  margin-left: 15%;
  color: #FD914D;
}
.centerbtn{
  display: flex;
  margin-left: 25%;
  margin-top: 2%;
  border-radius: 25px;
  gap: 3%;
}
.centerbtn1{
  display: flex;
  margin-left: 27%;
  margin-top: 2%;
  border-radius: 25px;
}
.centerbtn4{
  display: flex;
  margin-left: 5%;
  margin-top: 2%;
  border-radius: 25px;
  gap: 3%;
}
.centerbtn5{
  display: flex;
  margin-left: 27%;
  margin-top: 4%;
  border-radius: 25px;
 
}
.quadradocadrastar{
  position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background:#474747;
            padding: 80px;
            border-radius: 16px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-top: 4%;
}


/*configurações do style de EsqueciAsenha.html */
.Styleverificaçao{
  font-size: 25px;
  margin-left: 22%;
  color: #FD914D;
}
.centerbtnverf{
  display: flex;
  margin-left: 32%;
  margin-top: 5%;
  border-radius: 25px;
 }
.inputcadrastar{
  display: flex;
  margin-left: 20%;
  margin-top: 5%;
  border-radius: 25px;
}

/*configurações do style de verificação de tracaAsenha.html */
.labelTrcaSenha{
  margin-right:15%;
 
}

/*Css da barracas do feirante*/
.imagemFeirante{
  display: flex;
  margin-left: 8%;
  margin-top: 1%;
}
.NomedoFeirante{
 display: flex;
 margin-left: 2%;
 color: #FD914D;
}
.DescricaoFeirante{
 flex: 1; /* Faz com que as divs ocupem o espaço disponível */
 margin: 10px;
 padding: 20px;
 margin-right: 6%;
} 
.descricaoPRODUTO{
  display: flex;
  font-size: 20px;
  color: #FD914D;
  text-align:center;
  
}

.quantidadeCard{
  display: flex;
  margin-left: 10%;
  color: #FD914D;
}
.alinhaquant{
  position: absolute;
  margin-left: 7%;
  
}

.ComidaBarraca, .BebidaBarraca{
  text-align: center;
  color: #FD914D;
}

.zArtesanatoBarraca{
  text-align: center;
  color: #FD914D;
}


.linha1{

  color: white;
  font-weight: bold;
  font-size: 25px; 
}

.titulopag{

  text-align: center;
  color: #FD914D;
}

.qrcode{

  display: flex;
            justify-content: center;
            align-items: center;
}



.topleft img {
  border-radius: 50%; /* Faz a imagem redonda */
  object-fit: cover; /* Ajusta a imagem para preencher o contÃªiner */
  height: 150px;
  width: 150px;
  
 
}

.topleft {
  position: absolute;
  top: 35%;
  left: 2%;
}

.menuitens {
  position: absolute;
  margin-top: 1%;
  left: 25%;
  padding: 5px;
}

.texto1 {
  position: relative;
  margin-top: 3%;
  left: 25%;
}

#galeria {
  display: flex;
  flex-wrap: wrap; /* Permite que os itens se movam para a linha seguinte se nÃ£o houver espaÃ§o suficiente */
  margin-top: 10%;
  margin-left: 25%;
}

.imagem-container {
  display: flex; /* Alinha a imagem e a descriÃ§Ã£o em linha */
  align-items: flex-start; /* Alinha a imagem ao topo do contÃªiner */
  margin-bottom: 20px; /* EspaÃ§amento inferior entre os itens */
  border: 3px solid #656565; /* Borda ao redor do contÃªiner */
  padding: 10px; /* EspaÃ§amento interno do contÃªiner */
  background-color: #474747; /* Cor de fundo para o contÃªiner */
  
}

.imagem-container img {
  margin-right: 20px; /* EspaÃ§amento entre a imagem e a descriÃ§Ã£o */
  max-width: 200px; /* Limita a largura mÃ¡xima da imagem */
  height: auto; /* MantÃ©m a proporÃ§Ã£o da imagem */
  
  
}

.descricao-imagem {
  font-size: 16px; /* Ajusta o tamanho da fonte */
  color: #FD914D; /* Cor do texto */
  font-weight: bold;
  line-height: 1.5; /* EspaÃ§amento entre linhas */
  
}

.botao {
  position: relative;
  margin-top: 2%;
  left: 25%;
  padding: 10px;
}

.FormularioCadastroProdutos{
  margin-top: 1%;
  font-size: 20px;
  left: 50%;

}

/* Centraliza os botões horizontalmente */
.centralizar-botoes {
  text-align: center;
}

.botaoformcadsprodut {
  display: inline-block; /* Faz com que os botões fiquem lado a lado */
  font-size: 20px;
  margin: 1% 10px; /* Espaçamento entre os botões */
  padding: 10px 20px; /* Ajusta o tamanho dos botões */
}


.logocanto {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 18px;
}

.nomeOUROFEIRA{
  display: absolute;
  text-align: center;

}



.FormularioCadastroProdutos input{
  font-size: 15px;
  font-weight: bold;
  padding: 5px;
  

}
.FormularioCadastroProdutos select{
  padding: 10px;

}

.FormularioCadastroProdutos label{
  font-size: 25px;
  font-weight: bold;
  
  color: #FD914D;

}

.FormularioCadastroProdutos input[class="botaoformcadsprodut"]{
  margin-top: 1%;
  margin-left: 10px;
  padding: 10px;
}

.centralizacard{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3%;
}
.Espasamento-Cards2 {
  display: flex;
  gap: 10px;
  flex-wrap: wrap; 
  max-width: 1800px;
}

.card {
  background-color: #474747;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 350px;
  overflow: hidden;
}

.card-img2 {
  width: 100%;
  height: auto;
  
}